body {
    font-family: Arial;
    font-size: 150%;
  }
  
  a {
    color: #020416;
    text-decoration: none;
    transition: color 0.1s;
  }
  
  a:hover {
    color: #79a570;
  }
  
  button {
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    font-size: 100%;
    background-color: #0d0518;
    border-radius: 5px;
    padding: 2px 10px;
    color: rgb(247, 13, 13);
    border: 0;
    transition: background-color 0.1s;
  }
  h1 {
    color: red;
  }
  button:hover {
    background-color: #8570a5;
  }
  
  .choices button {
    display: block;
  }
  
  input[type="text"] {
    font-size: 100%;
  }
  
  ol {
    padding-left: 0px;
    max-height: 400px;
    overflow: auto;
  }
  
  li {
    padding: 5px;
    list-style: decimal inside none;
  }
  
  li:nth-child(odd) {
    background-color: #f3edfc;
  }
  
  .wrapper {
    margin: 100px auto 0 auto;
    max-width: 600px;
  }
  
  .hide {
    display: none;
  }
  
  .start {
    text-align: center;
  }
  
  .scores {
    
    position: absolute;
    top: 10px;
    left: 10px;
  }
  
  .feedback {
    font-style: italic;
    font-size: 120%;
    margin-top: 20px;
    padding-top: 10px;
    color: gray;
    border-top: 2px solid #ccc;
  }
  
  .timer {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  